
.list {
    margin-bottom: 50px;
    overflow: auto;
  }
  
  .no-rest {
    text-align: center;
    width: 760px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .list {
    margin-bottom: 50px;
    overflow: auto;
  }
  
  .details {
    margin: 10px 0px 10px 0px;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 6fr;
  }